html {
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.mobile {
    display: none;
}

body {
    background-color: #E5E5E5;
}

body strong {
    font-weight: 500;
}

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.top {
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo div {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
}

.top img {
    height: 29px;
    width: 103px;
    margin-top: 8px;
}

.search-bar {
    color: #979797;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 88px;
}

.feed {
    width: 614px;
}

.stories {
    font-size: 12px;
    height: 118px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-left: 18px;
    gap: 24.5px;
    position: relative;
    margin-bottom: 24px;
}

.single-story {
    top: -8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story-border {
    position: absolute;
    height: 66px;
}

.profile-pic {
    border-radius: 28px;
    height: 56px;
    position: relative;
    top: 6px;
}

.single-story p {
    position: relative;
    top: 16px;
}

.seta {
    box-shadow: 0 0 10px 1px grey;
    position: absolute;
    right: 9px;
    top: 40px;
    font-size: 0;
    border-radius: 13px;
    color: #FFFFFF;
}

.post {
    height: 749px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    row-gap: 10px;
}

.user-info {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.user-info img {
    display: flex;
    text-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.post-top p {
    font-size: 14px;
}

.post-middle {
    width: 100%;
    height: calc(100% - 61px - 76px);
}

.post-middle img {                        /* Ajustar tamanho v.Mobile */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-middle video {                        /* Ajustar tamanho v.Mobile */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 76px;
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
    row-gap: 8px;
}

.post-bottom img {
    width: 20px;
}

.icons {
    font-size: 17.87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.side-bar {                     /* Fixar side-bar */
    width: 293px;
    margin-left: 28px;
    background-color: #E5E5E5;
    position: sticky;
    position: -webkit-sticky;
    top: 88px;
}

.account {
    background-color: transparent;
    display: flex;
    gap: 17px;
    align-items: center;
    height: 95px;
}

.account div {
    margin-top: 15px;
}

.account div :nth-child(2) {
    margin-top: 5px;
    color: #8E8E8E;
}

.suggestions {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.suggestions div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 11px;
    color: #8E8E8E;
}

.ver-tudo {
    color: black;
}

.suggestions div :nth-child(1){
    margin-right: 11px;
}

.suggestions div :nth-child(2){
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.suggestion>p {
    color: #139EF2;
    font-size: 12px;
}

.suggestions div :nth-child(2) :nth-child(2){
    display: inline-block;
    font-size: 12px;
    color: #8E8E8E;
}

.suggestion{
    display: inline-flex;
    gap: 17px;
    margin-top: 16px;
}

.suggestions img{
    width: 32px;
    border-radius: 16px;
}

footer {
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
}

.links {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 33px;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 18px;
    gap: 2px;
}


@media (max-width: 935px) {
    header {
        width: 100%;
    }

    .side-bar {
        display: none;
    }

    .logo {
        margin-left: 24px;

    }

    .menu {
        margin-right: 24px;
    }
}

@media (max-width: 614px) {
    header {
        width: 100%;
    }

    .not-mobile {
        display: none;
    }

    .mobile {
        display: inline;
    }

    main {
        top: 54px;
    }

    .feed {
        width: 100%;
    }

    .stories {
        height: 118px;
        background-color: transparent;
        border: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        padding-left: 18px;
        gap: 24.5px;
        position: relative;
        margin-bottom: 0;
    }

    .menu {
        margin-right: 24px;
        flex-direction: row-reverse;
        gap: 0;
    }

    .logo {
        gap: 0;
    }

    .mobile-menu {
        background-color: #FFFFFF;
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 54px;
        z-index: 10;
    }
}